<h2>Add a new Toy</h2>
<form action="" method="POST">
  <label for="name"><strong>Name: </strong></label>
  <input type="text" name="name" id="">
  <label for="description"><strong>Description: </strong></label>
  <input type="text" name="description" id="">
  <label for="user"><strong>User: </strong></label>
  <input type="text" name="user" id="">
  <button type="submit"></button>
</form>