<h2>Add a new Toy</h2>
<form action="" method="POST">
  <label for="name"><strong>Name: </strong></label>
  <input type="text" name="name" id="name">
  <label for="description"><strong>Description: </strong></label>
  <input type="text" name="description" id="description">
  <label for="user"><strong>User: </strong></label>
  <input type="text" name="user_id" id="user_id">
  <label for="manufacturer"><strong>Manufacturer: </strong></label>
  <input type="text" name="manufacturer_id" id="manufacturer_id">
  <button type="submit">Create</button>
</form>