<div class="toy" style="padding: 20px">
    <div class="name"><strong>Name: </strong><%= @toy.name %></div>
    <div class="description"><strong>Description: </strong><%= @toy.description %></div>
    <div class="date"><strong>Date: </strong><%= @toy.date %></div>
    <div class="user"><strong>User:</strong> <%= @toy.user.email %></div>
  </div>