<h2>Add a new Manufacturer</h2>
<form action="<%= manufacturers_path %>" method="POST">

  <label for="name"><strong>Name: </strong></label>
  <input type="text" name="name" id="name">
  <label for="location"><strong>Location: </strong></label>
  <input type="text" name="location" id="location">
  <button type="submit">Create</button>
</form>